---
// src/components/shared/SEO.astro
export interface Props {
    title: string;
    description: string;
    image?: string; // Opcional
    article?: boolean; // ¿Es un artículo o una página general?
}

const {
    title,
    description,
    // CAMBIO AQUÍ: Apuntamos a tu nueva imagen social en lugar del favicon
    image = "/images/default-social.jpg",
    article = false,
} = Astro.props;

// Construimos la URL completa porque las redes sociales exigen rutas absolutas (https://...)
const siteUrl = Astro.site ? Astro.site.href : "http://localhost:4321/";
const canonicalURL = new URL(Astro.url.pathname, siteUrl);
const socialImageURL = new URL(image, siteUrl); // Esto crea: https://tusitio.com/images/default-social.png
const fullTitle = `${title} | ATT & CODE.SG`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />
<meta
    name="google-site-verification"
    content="Popdi7rT3zpThgpNFJMTn3_YuZNva9-7r724rpvCGu4"
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={article ? "article" : "website"} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />
